<!DOCTYPE html>
<html lang="en-US">
  <head>
    <link rel="icon" sizes="180x180" href="https://www.hellofresh.com.au/favicons/hellofresh.ico">
    <meta charset="utf-8" />
    <title>Menu Planning Service</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%=htmlWebpackPlugin.tags.headTags %> 

    <script id="analyitcs-script-stub"></script>
  </head>

  
  <body >
    <div id="content" class="app-container" />
    <%= htmlWebpackPlugin.tags.bodyTags %>
</html>
